// Catppuccin Mocha theme for gitui
(
    selected_tab: Some("Reset"),
    command_fg: Some("#cdd6f4"),
    selection_bg: Some("#313244"),
    selection_fg: Some("#cdd6f4"),
    cmdbar_bg: Some("#1e1e2e"),
    cmdbar_extra_lines_bg: Some("#1e1e2e"),
    disabled_fg: Some("#6c7086"),
    diff_line_add: Some("#a6e3a1"),
    diff_line_delete: Some("#f38ba8"),
    diff_file_added: Some("#a6e3a1"),
    diff_file_removed: Some("#f38ba8"),
    diff_file_moved: Some("#f9e2af"),
    diff_file_modified: Some("#89b4fa"),
    commit_hash: Some("#cba6f7"),
    commit_time: Some("#6c7086"),
    commit_author: Some("#89b4fa"),
    danger_fg: Some("#f38ba8"),
    push_gauge_bg: Some("#89b4fa"),
    push_gauge_fg: Some("#1e1e2e"),
    tag_fg: Some("#f9e2af"),
    branch_fg: Some("#a6e3a1"),
)
