// Aura Dark theme for gitui
(
    selected_tab: Some("Reset"),
    command_fg: Some("#edecee"),
    selection_bg: Some("#1c1b22"),
    selection_fg: Some("#edecee"),
    cmdbar_bg: Some("#15141b"),
    cmdbar_extra_lines_bg: Some("#15141b"),
    disabled_fg: Some("#6d6d6d"),
    diff_line_add: Some("#61ffca"),
    diff_line_delete: Some("#ff6767"),
    diff_file_added: Some("#61ffca"),
    diff_file_removed: Some("#ff6767"),
    diff_file_moved: Some("#ffca85"),
    diff_file_modified: Some("#82e2ff"),
    commit_hash: Some("#a277ff"),
    commit_time: Some("#6d6d6d"),
    commit_author: Some("#82e2ff"),
    danger_fg: Some("#ff6767"),
    push_gauge_bg: Some("#a277ff"),
    push_gauge_fg: Some("#15141b"),
    tag_fg: Some("#ffca85"),
    branch_fg: Some("#61ffca"),
)
